/* NAVBAR CONTAINER */

.navbar {
  position: sticky;
  top: 0;
  z-index: 999;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 60px;

  background: rgba(15,23,42,0.75);
  backdrop-filter: blur(14px);

  border-bottom: 1px solid rgba(255,255,255,0.06);
}

/* LOGO */

.logo {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 2px;

  background: linear-gradient(135deg,#6366f1,#0ea5e9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  cursor: pointer;
}

/* LINKS */

.nav-links {
  display: flex;
  gap: 35px;
}

.nav-link {
  text-decoration: none;
  color: #cbd5e1;
  font-weight: 500;
  font-size: 15px;

  transition: 0.25s;
  position: relative;
}

/* Hover effect */

.nav-link:hover {
  color: white;
}

/* Active link */

.nav-link.active {
  color: white;
}

.nav-link.active::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;

  width: 100%;
  height: 2px;

  background: linear-gradient(90deg,#6366f1,#0ea5e9);
}

/* Mobile */

@media(max-width:768px){
  .navbar{
    padding:18px 25px;
  }

  .nav-links{
    gap:18px;
    font-size:14px;
  }
}
